<div>
  <form [formGroup]="formulario_caja" (ngSubmit)="guardar()">

    <div>
      <button mat-raised-button type="button" (click)="agregar_caja()">Adicionar</button>
    </div>

    <div>
      <div formArrayName="caja" *ngFor="let s of caja_contenido.controls; let i = index ">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput #message maxlength="256" [formControlName]="i" required>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <textarea matInput cols="30" rows="7"> {{ caja_texto }} </textarea>
      </mat-form-field>

    </div>

    <div>

      <div>
        <button mat-raised-button type="reset">Limpiar caja</button>

        <button mat-raised-button color="warn" (click)="borrar(this.caja_contenido.value.i)" type="button">Eliminar</button>

        <br>
        <button mat-raised-button type="button" (click)="limpiarCaja()">Limpiar Caja</button>
      </div>

      <div>
        <small>Acciones</small>
        <button mat-raised-button (click)="guardar()" [disabled]="formulario_caja.invalid">Guardar</button>
        <button mat-raised-button type="reset" (click)="limpiar()">Limpiar</button>
      </div>

    </div>
  </form>
</div>